{% extends 'base.html' %}
{% block content %}

<div class="card">
  <div class="card-header">
    <div class="card-title"  style="margin-top:10px; margin-left:40px;">
      <h3>Task Update</h3>
    </div>
    <div class="card-body col-md-5">
      <form method="POST" style="margin-top:10px; margin-left:10px; border-radius: 20px;" class="p-3 shadow" >
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" style=" border-radius: 10px; padding:5px;" class="btn btn-danger">confirm</button>
      </form>
    </div>
  </div>
</div>



{% endblock %}